___

<a href='https://www.prosperousheart.com/'> <img src='files/learn to code online.png' /></a>
___

In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
np.random.seed(101)
df = pd.DataFrame(randn(5,4), ["A", "B", "C", "D", "E"], ["W", "X", "Y", "Z"]) # there will be 5 rows & 4 columns as per randn
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

<div class="alert alert-block alert-info">DIV option 1: alert-info</div>

<div class="alert alert-block alert-success">DIV option 2: success</div>

<div class="alert alert-block alert-warning">DIV option 3:  warning</div>